<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.threeinone808391" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>threeInOne</name>
    <description>
        An Ionic Framework and Cordova project.
    </description>
    <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <feature name="Camera">
        <param name="wp-package" value="Camera" />
    </feature>
    <feature name="Console">
        <param name="wp-package" value="DebugConsole" />
    </feature>
    <feature name="Device">
        <param name="wp-package" value="Device" />
    </feature>
    <feature name="PushPlugin">
        <param name="wp-package" value="PushPlugin" />
    </feature>
    <feature name="ActionSheet">
        <param name="wp-package" value="ActionSheet" />
    </feature>
    <feature name="Notification">
        <param name="wp-package" value="Notification" />
    </feature>
    <feature name="StatusBar">
        <param name="wp-package" value="StatusBar" />
    </feature>
    <feature name="Clipboard">
        <param name="wp-package" value="Clipboard" />
    </feature>
</widget>
